
//verbatim from compass: 
//https://github.com/chriseppstein/compass/blob/stable/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss
//
// Based on a [blog post by Ryan Fait](http://ryanfait.com/resources/footer-stick-to-bottom-of-page/).
//
// Must be mixed into the top level of your stylesheet.
//
// Footer element must be outside of root wrapper element.
//
// Footer must be a fixed height.

@mixin sticky-footer($footer-height, $root-selector: unquote("#root"), $root-footer-selector: unquote("#root_footer"), $footer-selector: unquote("#footer")) {
  html, body {
    height: 100%; }
  #{$root-selector} {
    clear: both;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
    #{$root-footer-selector} {
      height: $footer-height; } }
  #{$footer-selector} {
    clear: both;
    position: relative;
    height: $footer-height; } }


//http://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/
//particularly useful so that horizontal panning on mobile devices is disabled.
@mixin robust-word-wrap{
  body{
    -ms-word-break: break-all;
       word-break: break-all;

      /* Non standard for webkit */
      word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;

    overflow-x: hidden;
  }
}


/**
 * Mixin that fixes top menu
 * @type {Boolean}
 */

//set to true if you also want a fixed header on a small screen
$fixedOnSmallScreen: false !default;
$menufixed: false;
@mixin top-menu-fixed(){
  
  $menufixed: true;
  .container.top-bar{
    z-index: 4; //higher than .shadow and header
  }
  //fix the top menu on larger screens
  @media #{$small} {
    @include _fix-menu;
  }

  @if $fixedOnSmallScreen{
    @include _fix-menu;
  }
}

@mixin _fix-menu(){
  body{
    padding-top: $menuHeight;
  }
  .container.top-bar{
    margin-top:  -$menuHeight;
    width: 100%;
    position: fixed;
    background-color: white;
  }
}



/**
 * Nice shadow effect, which sits under 'header' if that exists.
 * .shadow should be the next sibling after  .container.top-bar
 * if .container.top-bar is fixed (using mixin top-menu-fixed) tthis mixin will behave appropriately by fixing as well
 */
@mixin top-menu-shadow(){

  //a separate shadow below the topnav
  //It's separated bc. of the z-stacking .
  //i.e: high to low: top nav > header > shadow > content
  //This allows the shadow to dissapear under the 'header'
  //

  .shadow{
    display: block;
    width: 100%;
    margin-top: -9px;
    height: 10px;
    z-index:2;
    @include _shadow_styles;
    @media #{$small} {
      @if $menufixed {
        position:fixed;
      } 
    }
  }
  
  //if fixing menu on small screen as well...
  @if $fixedOnSmallScreen and  $menufixed{
    //... put shadow on menu itself when it's expanded
    .container.top-bar.expanded{
      @include _shadow_styles;
    }
    //.. and fix the shadow element
    .shadow{
      position:fixed;
    }
  }
  
  // the header is allowed to scroll OVER the shadow which is a little nicer (in case the header has a backgorund color that is)
  header{
    position: relative;
    z-index: 3; //overlap shadow at bottom of nav
    margin-top: -1px; //overlap for shadow on small devices ( in which case position not fixed)
  }
}

@mixin _shadow_styles(){
  border-bottom: solid 1px #999;
  @include box-shadow(0px 1px 6px #bbb);
}
